.main-footer {
  display: flex;
  flex-direction: column;
  padding: var(--default_padding);
  text-align: center;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;

  li {
    width: 25%;
  }
}

.footer-nav-list--sub {
  flex-direction: column;

  a {
    font-family: var(--font_standard);
    font-weight: normal;
    text-transform: none;
  }
}

.footer-store-locator {
  border-top: 1px solid var(--grey);
}

.footer-other {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    padding: 0;
    list-style: none;
  }
}

.footer-other-link {
  display: inline-block;
  margin-right: 10px;
}
