doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/huawei.css')
  body
    main.main-container
      <!--[if lt IE 8]>
      p.browsehappy
        | You are using an <strong>outdated</strong> browser.
        | Please <a href='http://browsehappy.com/'>upgrade your browser</a>
        | to improve your experience.
      <![endif]-->

      include ../partials/box.jade
      include ../partials/nav.jade
      include ../partials/ui.jade
      block content
      include ../partials/footer.jade
      script(src='js/huawei.js')
